---
import BaseHead from "../components/BaseHead.astro";
import Container from "../components/Container.astro";
import { SITE_TITLE } from "../consts";
import ChapterHeader from "../components/ChapterHeader.astro";
import MiniSearch from "../components/MiniSearch.astro";

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
<head>
	<BaseHead title={`${title}. ${SITE_TITLE}`} description={description}/>
</head>

<body class="chapter-body">
<ChapterHeader hideSearch={true}/>

<main class="pt-144 pb-48">
	<Container>
		<article>

			<div class="max-w-768 mx-auto">
				<MiniSearch/>
			</div>

		</article>
	</Container>
</main>

</body>
</html>
