---
import { getCollection } from "astro:content";
import ChapterLink from "./ChapterLink.astro";
import Container from "./Container.astro";

const firstGroup = (await getCollection('chapter')).filter(item => !item.slug.startsWith('3') && !item.slug.startsWith('4') && !item.slug.startsWith('5')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const secondGroup = (await getCollection('chapter')).filter(item => item.slug.startsWith('3')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const thirdGroup = (await getCollection('chapter')).filter(item => item.slug.startsWith('4')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const fourthGroup = (await getCollection('chapter')).filter(item => item.slug.startsWith('5')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const groups = {
	first: {
		title: null,
		chapters: firstGroup
	},
	second: {
		title: 'Az állam',
		chapters: secondGroup
	},
	third: {
		title: 'A különleges jogrend',
		chapters: thirdGroup
	},
	fourth: {
		title: null,
		chapters: fourthGroup
	}
}
---

<div class="pb-144 min-h-680">
  <Container>
    <div class="flex flex-col gap-48 max-w-768 mx-auto">
			{
				Object.keys(groups).map((key) => (
          <div class="flex flex-col gap-12">
            <div class="w-full">
              <p class="text-size-24 font-600 m-0">{groups[key].title}</p>
            </div>

            <nav class="w-full">
              <ul class="flex flex-col gap-12">
								{
									groups[key].chapters.map((chapter) => (
                    <li>
                      <ChapterLink href={`/chapter/${chapter.slug}/`}>
                        <span>{chapter.data.title}</span>
                      </ChapterLink>
                    </li>
									))
								}
              </ul>
            </nav>
          </div>
				))
			}
    </div>
  </Container>
</div>
