---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href } = Astro.props;
---

<a href={href} class='flex bg-gray-900 text-size-16 md:text-size-20 lg:text-size-24 font-700 text-white hover:bg-btnRed p-16 px-24 md:px-24 md:py-24 lg:p-24 rounded-20 md:rounded-24 transition-all'>
	<slot/>
</a>
