---
const { href } = Astro.props;
---

<a href={href} class='flex flex-col text-size-16 md:text-size-20 lg:text-size-32 font-700 hover:text-white hover:bg-gray-900 p-16 px-24 md:px-48 lg:px-48 md:py-24 lg:p-24 rounded-20 md:rounded-24 transition-all'>
	<slot/>
</a>
