---
import Container from './Container.astro';
---

<header class="backdrop-blur bg-white/10 flex items-center justify-center py-12 w-full fixed top-0 left-0 z-100">
	<Container>
		<div class="flex items-center justify-between gap-24">
			<h2><a href="/" class="text-size-20 font-700">Magyarország Alaptörvénye</a></h2>

			<!--<a
				href="/"
				target={'_blank'}
				class=
					"bg-gray-900 text-white flex items-center justify-center h-48 w-48 rounded-16 p-12 font-700 text-size-12"
				>
				PDF
			</a>-->
		</div>
	</Container>
</header>
