---
import Container from "./Container.astro";
import MiniSearch from "./MiniSearch.astro";
import { Slider } from "./Slider";
import { Search } from "./Search";

const texts = [
	// "Büszkék vagyunk arra, hogy Szent István királyunk ezer évvel ezelőtt szilárd alapokra helyezte a magyar államot, és hazánkat a keresztény Európa részévé tette.",
	"Büszkék vagyunk országunk megmaradásáért",
	"Büszkék vagyunk országunk szabadságáért",
	"Büszkék vagyunk országunk függetlenségéért küzd ő őseinkre",
	"Büszkék vagyunk a magyar emberek nagyszerű szellemi alkotásaira.",
	// "Büszkék vagyunk arra, hogy népünk évszázadokon át harcokban védte Európát, tehetségével, szorgalmával gyarapította annak közös értékeit.",
	"Elismerjük a kereszténység nemzetmegtartó szerepét. Becsüljük országunk különböző vallási hagyományait.",
	"Hisszük, hogy nemzeti kultúránk gazdag hozzájárulás az európai egység sokszínűségéhez.",
	"Tiszteljük más népek szabadságát és kultúráját, együttm űködésre törekszünk a vilá g minden nemzetével.",
	"Valljuk, hogy az emberi lét alapja az emberi méltóság.",
	"Valljuk, hogy az egyéni szabadság csak másokkal együttműködve bontakozhat ki.",
	// "Valljuk, hogy együttélésünk legfontosabb keretei a család és a nemzet, összetartozásunk alapvető értékei a hűség, a hit és a szeretet.",
	"Valljuk, hogy a közösség erejének és minden ember becsületének alapja a munka, az emberi szellem teljesítménye.",
	"Valljuk az elesettek és a szegények megsegítésének kötelességét.",
	"Valljuk, hogy a polgárnak és az államnak közös célja a jó élet, a biztonság, a rend, az igazság, a szabadság kiteljesítése.",
	// "Valljuk, hogy valódi népuralom csak ott van, ahol az állam szolgálja polgárait, ügyeiket méltányosan, visszaélés és részrehajlás nélkül intézi.",
];
---

<div class="hero flex flex-col justify-center min-h-480 relative">
	<Container>
		<div class={'flex flex-col justify-center gap-48 max-w-768 mx-auto'}>

			<div class="relative">
				<Slider texts={texts} client:load/>

				<MiniSearch/>

			</div>
		</div>
	</Container>
	<div class="absolute bottom-0 left-0 w-full py-12 md:py-16 lg:py-24">
		<Container>
			<div class={'flex flex-row justify-center gap-48 max-w-768 mx-auto'}>
				<button id="scroll-to-button" type="button" class='flex bg-gray-900/5 text-size-16 md:text-size-20 font-700 hover:bg-gray-900 hover:text-white py-16 px-32 rounded-20 lg:rounded-24 transition-all '>Fejezetek</button>
			</div>
		</Container>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const scrollButton = document.getElementById("scroll-to-button");
		const content = document.getElementById("chapters-list");

		// Function to scroll to the content smoothly
		function scrollToContent() {
			const contentTop = content.getBoundingClientRect().top + window.scrollY;
			const duration = 300; // Duration of the animation in milliseconds

			const startTime = performance.now();

			function scroll(timestamp) {
				const elapsed = timestamp - startTime;
				const progress = Math.min(elapsed / duration, 1);
				window.scrollTo(0, contentTop * progress);

				if (progress < 1) {
					window.requestAnimationFrame(scroll);
				}
			}

			window.requestAnimationFrame(scroll);
		}

		// Add a click event listener to the scroll button
		scrollButton.addEventListener("click", scrollToContent);
	});

	document.addEventListener("DOMContentLoaded", function () {
		const elementToHide = document.getElementById("scroll-to-button");
		const scrollTrigger = 144; // Number of pixels to scroll before hiding the element
		let isHidden = false;

		function handleScroll() {
			if (window.scrollY > scrollTrigger && !isHidden) {
				elementToHide.style.opacity = 0;
				isHidden = true;
			} else if (window.scrollY <= scrollTrigger && isHidden) {
				elementToHide.style.opacity = 1;
				isHidden = false;
			}
		}

		// Add a scroll event listener to trigger the animation
		window.addEventListener("scroll", handleScroll);
	});
</script>
