---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />

		<main class="pt-144 pb-96">
			<article>

				<div class="max-w-680 mx-auto text-content">
					<slot />
        </div>

			</article>
		</main>

	</body>
</html>
