---
import { type CollectionEntry, getCollection } from 'astro:content';
import ChapterLayout from "../../layouts/ChapterLayout.astro";
import ChapterLink from "../../components/ChapterLink.astro";

export async function getStaticPaths() {
	const chapters = await getCollection('chapter');
	const numberOfPosts = chapters.length;

	return chapters.sort(
		(a, b) => {
			const [numA, subA] = a.slug.split('-').map(Number);
			const [numB, subB] = b.slug.split('-').map(Number);

			if (numA === numB) {
				return subA - subB;
			}

			return numA - numB;
		}
	).map((chapter, i) => ({
		params: { slug: chapter.slug },
		props: {
			chapter,
			nextPost: // Next post
				i === numberOfPosts // If the current post is the newest
					? { data: null }
					: chapters[i + 1],
		},
	}));
}
type Props = CollectionEntry<'chapter'>;

const chapter = Astro.props;
const { nextPost } = Astro.props
const { Content } = await chapter.chapter.render();
---


<ChapterLayout>
  <Content/>

	{nextPost && nextPost.data &&
    <div class="flex flex-col pt-72">
      <h2>Tovább</h2>

      <ChapterLink href={`/chapter/${nextPost.slug}/`}>
				{nextPost.data.title}
      </ChapterLink>
    </div>}
</ChapterLayout>
