---
import { getCollection } from "astro:content";

const chapters = (await getCollection('chapter')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<div>
	<section>
		<ul>
			{
				chapters.map((chapter) => (
					<li>
						<a href={`/chapter/${chapter.slug}/`}>
							<h4 class="title">{chapter.data.title}</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</div>
